*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-image: url('BildMenü.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

nav{
    margin: auto;
    text-align: center;
}

a{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}